{{ 'section-custom-product-grid.css' | asset_url | stylesheet_tag }}
<script src="{{ 'section-custom-product-grid.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  #cpg-{{ section.id }} {
    max-width: var(--page-width);
    padding-top: {{ section.settings.padding_top_mobile }}px;
    margin: 0 auto;
  }
{%- endstyle -%}

<section class="cpg" id="cpg-{{ section.id }}">
  {%- if section.settings.title != blank -%}
    <h2 class="cpg__title">{{ section.settings.title }}</h2>
  {%- endif -%}

  <div class="cpg__grid">
    {%- for block in section.blocks -%}
      {%- assign product = block.settings.product -%}
      {%- if product -%}
        {%- assign img = product.featured_image -%}
        <div class="cpg__card" {{ block.shopify_attributes }}>
          <a href="#" class="cpg__card-link">
            <div class="cpg__image-wrappper">
              <img
                class="cpg__image"
                style="aspect-ratio: {{ img.aspect_ratio }};"
                src="{{ img | image_url: width: img.width, height: img.height }}"
                alt="{{ img.alt }}"
                width="{{ img.width }}"
                height="{{ img.height }}"
              >
            </div>
          </a>
        </div>
      {%- endif -%}
    {%- endfor -%}
  </div>

  <div class="cpg-modal">
    <div
      class="cpg-modal__dialog"
      role="dialog"
      aria-modal="true"
      aria-labelledby="cpg-modal-title-{{ section.id }}"
    >
      <button class="cpg-modal__close">&times;</button>
      <div class="cpg-modal__body">
        <div class="cpg-modal__media-content-container">
          <div class="cpg-modal__media"></div>
          <div class="cpg-modal__content">
            <h3 class="cpg-modal__title">Black Leather Bag</h3>
            <div class="cpg-modal__price">30.00$</div>
            <div class="cpg-modal__desc">
              Thick black winter jacket, with soft fleece lining. Perfect for those cold weather days.
            </div>
          </div>
        </div>

        <div class="cpg-modal__options-action-container">
          <div class="cpg-modal__option">
            <label for="" class="cpg-modal__label">Color</label>
            <div class="cpg-modal__swatches"></div>
          </div>
          <div class="cpg-modal__option">
            <label for="" class="cpg-modal__label">Size</label>
            <div class="cpg-modal__select-wrap">
              <select class="cpg-modal__select">
                <option value="">Choose your size</option>
              </select>
            </div>
          </div>

          <div class="cpg-modal__action">
            <button class="cpg-modal__atc">
              <span class="gift-guide__atc-text">ADD TO CART</span>
              <span class="gift-guide__atc-icon">
                {{- 'icon-arrow-right-white.svg' | inline_asset_content -}}
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="cpg-modal__backdrop"></div>
  </div>
</section>

{% javascript %}
{% endjavascript %}

{% schema %}
{
  "name": "Product Grid",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Tisso vison in the wild"
    },
    {
      "type": "product",
      "id": "upsell_product",
      "label": "Upsell Product",
      "info": "When any product with variant options Black and Medium is added to the cart the selected upsell product will also be automatically added to the cart."
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top Padding (Mobile)",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top Padding (Desktop)",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "max_blocks": 6,
  "presets": [
    {
      "name": "Custom Product Grid"
    }
  ]
}
{% endschema %}
