{%- style -%}
  div.gift-guide {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
{%- endstyle -%}

<div class="gift-guide color-{{ section.settings.color_scheme }}">
  <div class="gift-guide__background-top"></div>
  <div class="gift-guide__background-bottom"></div>

  <div class="gift-guide__container section">
    <div class="gift-guide__content">
      <div class="gift-guide__text-wrapper">
        {% if section.settings.heading != blank %}
          <h2 class="gift-guide__heading">{{ section.settings.heading }}</h2>
        {% endif %}

        {% if section.settings.subheading != blank %}
          <p class="gift-guide__subheading">{{ section.settings.subheading }}</p>
        {% endif %}

        {% if section.settings.description != blank %}
          <div class="gift-guide__description">{{ section.settings.description }}</div>
        {% endif %}

        {% if section.settings.button_label != blank %}
          <div class="gift-guide__button-wrapper">
            <a href="{{ section.settings.button_link }}" class="gift-guide__button button button--primary">
              <span class="gift-guide__button-text">{{ section.settings.button_label }}</span>
              <span class="gift-guide__button-icon">
                {{- 'icon-arrow-right-white.svg' | inline_asset_content -}}
              </span>
            </a>
          </div>
        {% endif %}
      </div>

      <div class="gift-guide__illustration">
        {% if section.settings.bottom_text_mobile != blank %}
          <p class="gift-guide__bottom-text-mobile">{{ section.settings.bottom_text_mobile }}</p>
        {% endif %}
        {% if section.settings.bottom_text_desktop != blank %}
          <p class="gift-guide__bottom-text-desktop">{{ section.settings.bottom_text_desktop }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{%- javascript -%}
{%- endjavascript -%}

{% schema %}
{
  "name": "Gift Guide",
  "tag": "div",
  "settings": [
    {
      "type": "header",
      "content": "Section content"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "The Gift Guide",
      "label": "Heading"
    },
    {
      "type": "inline_richtext",
      "id": "subheading",
      "default": "Discover Joy: Your Ultimate Holiday Gift Destination.",
      "label": "Subheading"
    },
    {
      "type": "richtext",
      "id": "description",
      "default": "<p>Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season.</p>",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "text",
      "id": "bottom_text_mobile",
      "label": "Bottom text (Mobile)",
      "default": "SUSTAINABLE, ETHICALLY MADE ACTIVEWEAR"
    },
    {
      "type": "text",
      "id": "bottom_text_desktop",
      "label": "Bottom text (Desktop)",
      "default": "SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color scheme"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Gift Guide"
    }
  ]
}
{% endschema %}
